@import "sass/app.scss";

.movies-banner-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: $mobile-breakpoint;
  margin:auto;
  max-width: $desktop-grid-max-width;
}
